@model ProfileTask.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="employeeName" class="control-label"></label>
                <input asp-for="employeeName" class="form-control" required/>
                <span asp-validation-for="employeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employeeJop" class="control-label"></label>
                <input asp-for="employeeJop" class="form-control" required />
                <span asp-validation-for="employeeJop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="backgroundPicture" class="control-label"></label>
                <input asp-for="backgroundPicture" class="form-control" type="file" required />
                <span asp-validation-for="backgroundPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employeePicture" class="control-label"></label>
                <input asp-for="employeePicture" class="form-control" type="file" required />
                <span asp-validation-for="employeePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="about" class="control-label"></label>
                <input asp-for="about" class="form-control"  />
                <span asp-validation-for="about" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
